<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
</head>
<body>
<h1>Incidencias de tráfico:</h1>
{{ fecha }}
<table class="pure-table">
    <thead>
        <tr>
            <th>Carretera</th>
            <th>Fecha</th>
            <th>Km. - Sentido (Población)</th>
        </tr>
    </thead>
    <tbody>
{% for incidencia in incidencias %}
        <tr class="{{ loop.cycle('pure-table-odd', '') }}">
            <td>{{ incidencia.carretera }}</td>
            <td>{{ incidencia.fecha }}</td>
            <td>{{ incidencia.km }} - {{ incidencia.sentido }} ({{ incidencia.poblacion }})</td>
        </tr>
{% endfor %}
    </tbody>
</table>
</body>
</html>
